@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
body {
    font-family: 'Langar', cursive;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("87758.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container button {
    outline: none;
    font-family: 'Langar', cursive;
    border: 2px solid rgb(255, 112, 117);
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    margin-left: 37.5px;
    outline: none;
    float: none;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 112, 117);
    transition: 0.25s linear;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 25%;
    align-self: center;
    margin-left: 40%;
}

.container button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 112, 117);
    transform: scale(0.9);
    border: 2px solid rgb(255, 112, 117);
}

.container h3 {
    float: left;
    font-size: 40px;
    color: white;
    font-family: 'Langar', cursive;
}

.container input {
    font-size: 18px;
    outline: none;
    border: none;
    width: 50%;
    border-radius: 50px;
    outline: none;
    font-family: 'Langar', cursive;
    background-color: rgba(92, 88, 88, 0.2);
    padding: 8px;
    color: white;
    box-sizing: border-box;
    transition: .3s;
}

.container input:focus {
    box-shadow: 0 0 8px 0 rgb(255, 112, 117);
}